.wrapper_ingredients_page {
    background: url("/images/recipe_bg.jpg");
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content_recipes {
    position: static;
}


.title {
    color: white;
    margin: 30px 0 0 55px;
    padding: 0 0 20px 0;
    border-bottom: 4px solid white;
    box-shadow: 0px 3px green;
    width: 90vw;
    font-size: 2.8em;
    text-shadow: 1px 2px green;
}

.recipe_card {
    width: 85vw;
    height: 75vh;
    background: rgba(158, 158, 158, 0.8);
    margin-bottom: 50px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: 
    "title title prep"
    "info info prep"
    "ingr ingr prep"
    "ingr ingr prep"
    "ingr ingr prep"
    "ingr ingr prep"
    ". . ."
    ". . ."
    ;
}

.recipe_card > *{
    height: 100%;
}

.recipe_card h1{
    grid-area: title;
    margin: 0 0 0 45px;
    display: grid;
    align-items: center;
    color: white;
    text-shadow: 1px 2px gray;
    height: 100%;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: info;
    /* background: red; */
    height: 100%;
    margin: 0;
    margin: 0 0 0 45px;
}

.info p {
    margin: 0;
    height: 100%;
    color: white;
}

.ingredients {
    grid-area: ingr;
    color: white;
    font-size: 1.2em;
    line-height: 1.6;
    padding: 0 20px 0 20px;
    margin: 0 25px 0 45px;
    border-radius: 10px;
    background: rgba(65, 65, 65, 0.8);
    overflow-y: scroll;
    height: 93%;
}

.ingredients h1{
    margin: 20px 0 0 0;
    text-shadow: none;
    font-size: 1.4em;
}

.ingredients p{
    padding: 0 20px;
}


.recipe_card img {
    grid-area: img;
    background: purple;
}

.prep_desc {
    color: white;
    grid-area: prep;
    background: rgba(65, 65, 65, 0.8);
    margin: 20px 20px 0 0;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    /* min-height: 61.5vh; */
    height: 92%;
    overflow-y: scroll;
    padding-bottom: 30px;
}

.prep_desc h1{
    margin: 20px 0 10px 0;
    text-shadow: none;
    font-size: 1.4em;
}

.prep_desc p {
    padding: 0 20px;
    font-size: 0.8em;
    margin: 0;
}

.container {
    margin: 50px auto 0 auto;
    width: 85vw;
}

.home_btn {
    position: fixed;
    height: 60px;
    width: 60px;
    bottom: 20px;
    right: 30px;
    background-color: green;
    border-radius: 30px;
    display: grid;
    place-items: center;
    transition: all ease 500ms;
}

.home_icon {
    color: white;
    font-size: 1.6em
}

.home_btn:hover {
    bottom: 18px;
    right: 28px;
    box-shadow: 2px 4px gray;
    transition: all ease 500ms;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 2.3em;
        width: 93vw;
        margin: 20px 0 5px 15px;
        padding: 10px;
        background: rgba(158, 158, 158, 0.8);
        border-radius: 5px;
    }

    .recipe_card {
        grid-template-areas: 
            "title title title"
            "info info info"
            "ingr ingr ingr"
            
            "prep prep prep"
            ". . ."
            ". . ."
            ;
        grid-template-rows: 80px 50px ;
        box-sizing: border-box;
        min-width: fit-content;
        
    }

    .recipe_card .recipe_title {
        font-size: 1.3em;
        margin: 5px 5px 30px 15px;
    }

    .info {
        margin: 0 0 0 30px;
        max-height: 0;
    }

    .ingredients{
        height: 90%;
        overflow-y: scroll;
    } 

    .prep_desc {
        margin: 20px 25px 0 45px;
        height: fit-content;
        overflow-y: scroll;
        height: 80%;
    }

    .home_btn {
        right: 10px;
        bottom: 10px;
    }

    .home_btn:hover {
        right: 8px;
        bottom: 8px;
    }
}