.wrapper_ingredients_page {
    background: url("/images/bg_for_recipes.jpeg");
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content_recipes {
    position: static;
}


.title {
    color: pink;
    margin: 30px 0 0 55px;
    padding: 0 0 20px 0;
    border-bottom: 4px solid pink;
    width: 90vw;
    font-size: 2.8em;
    text-shadow: 1px 2px green;
}

.recipe_card {
    width: 85vw;
    height: 70vh;
    background: rgba(158, 158, 158, 0.8);
    margin-bottom: 50px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: 
    "title title prep"
    "info info prep"
    "ingr ingr prep"
    "ingr ingr prep"
    "ingr ingr prep"
    "ingr ingr prep"
    "img . ."
    "img . ."
    ;
}

.recipe_card > *{
    height: 100%;
}

.recipe_card h1{
    grid-area: title;
    margin: 0 0 0 45px;
    display: grid;
    align-items: center;
    color: white;
    text-shadow: 1px 2px gray;
    height: 100%;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: info;
    /* background: red; */
    height: 100%;
    margin: 0;
    margin: 0 0 0 45px;
}

.info p {
    margin: 0;
    height: 100%;
    color: white;
}

.ingredients {
    grid-area: ingr;
    color: white;
    font-size: 1.2em;
    line-height: 1.6;
    padding: 0 20px 0 20px;
    margin: 0 25px 0 45px;
    border-radius: 10px;
    background: rgba(65, 65, 65, 0.8);
}

.ingredients h1{
    margin: 20px 0 0 0;
    text-shadow: none;
    font-size: 1.4em;
}

.ingredients p{
    padding: 0 20px;
}


.recipe_card img {
    grid-area: img;
    background: purple;
}

.prep_desc {
    color: white;
    grid-area: prep;
    background: rgba(65, 65, 65, 0.8);
    margin: 20px 20px 0 0;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    max-height: 64.5vh;
    height: 100%;
}

.prep_desc h1{
    margin: 20px 0 10px 0;
    text-shadow: none;
    font-size: 1.4em;
}

.prep_desc p {
    padding: 0 20px;
    font-size: 0.8em;
    margin: 0;
}

.container {
    margin: 50px auto 0 auto;
    width: 85vw;
}