.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.wrapper_front_page {
  min-height: 100vh;
  background: url("/images/foodBackground.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 75vw 25vw;
  scroll-snap-align: start;
}

.content_wrapper {
  color: white;
  display: grid;
  grid-template-rows: 50vh 50vh;
}

.upper_part {
  margin: 0 0 0 50px;
  align-self: end;
}

.upper_part h1 {
  font-size: 4em;
  margin: 10px 0;
  border-bottom: 3px solid white;
  width: 400px;
}

.upper_part p {
  font-size: 1.5em;
}

.lower_part {
  display: grid;
}

.lower_part a {
  align-self: center;
}

.read_more_btn {
  height: 40px;
  width: 200px;
  
  margin: 0 0 0 60px;
  border: 3px solid green;
  background: green;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 500ms ease;
}

.read_more_btn:hover {
  cursor: pointer;
  border: 3px solid white;
  color: green;
  background: white;
  transition: all 500ms ease;
}

.category_page {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  background: url('/images/category_wrapper_bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.category_page h1 {
  height: 100px;
  color: green;
  font-size: 2.5em;
  margin: 0 0 0 55px;
  padding-top: 35px;
  box-sizing: border-box;
  text-shadow: 2px 2px pink;
}

.category_types {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
}

.wrapper_category_card {
  display: grid;
  place-items: center;
}

.category_card {
  height: 65vh;
  width: 70%;
  border: 4px solid green;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 500ms ease;
  display: grid;
}

.veggie_categroy_card {
  background: url("/images/vegitarian_card.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.vegan_category_card {
  background: url("/images/vegan_card.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.meat_categroy_card {
  background: url("/images/meat_card.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.category_card h2 {
  color: pink;
  align-self: end;
  text-align: center;
  margin-bottom: 40px;
  font-size: 2em;
  text-shadow: 2px 2px black;
}

.category_card:hover {
  cursor: pointer;
  box-shadow: 3px 6px grey;
  transition: all 500ms ease;
  margin: 0 3px 6px 0;
}